<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>279302685828-vhcispuh95ncen5jd3jqd4nvgrhc5d6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279302685828-vhcispuh95ncen5jd3jqd4nvgrhc5d6h</string>
	<key>API_KEY</key>
	<string>AIzaSyCpSJmn9-TXMMnqvIu4qlG7evp4jtA5yHc</string>
	<key>GCM_SENDER_ID</key>
	<string>279302685828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ALaha.ninePebbles</string>
	<key>PROJECT_ID</key>
	<string>pebbles-637d3</string>
	<key>STORAGE_BUCKET</key>
	<string>pebbles-637d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:279302685828:ios:412cf99b260b7df2</string>
	<key>DATABASE_URL</key>
	<string>https://pebbles-637d3.firebaseio.com</string>
</dict>
</plist>